@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&family=Ubuntu+Condensed&display=swap');


:root{
  --white: #dff9fb;
  --light-red:#ef5777;
  --red:#f53b57;
  --light-grey: #95afc0;
  --grey: #535c68;
  --green:#6ab04c;
  --alt-green:#badc58;
  --blue: #22a6b3;
  --yellow: #f9ca24;
  --peach: #ffbe76;
  --black: #070e14;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--light-grey);
}

header {
  font-family: 'Poppins', sans-serif;
  
  margin-bottom: 20px;
  font-weight: 100;
  border-bottom: 2px solid var(--white);
}
nav{
  background-color: var(--white);
}
.nav-item{
  color: var(--grey);
}
header h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin-left: 10px;
  font-size: 2.5em;
  line-height: 2.5;
  color: var(--grey);
}
.card{
  background-color: var(--white);
  border: 1px solid var(--light-grey)
}
.card#filter-card{
  background-color: transparent;
  border: none;
}
.card-header {
  color: var(--grey);
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
 border-bottom: 1px solid var(--grey);
 
}


/* Form & Input */
.form-input {
  width: 300px;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.form-input-filter {
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  background: transparent;
  color: var(--white) ;
  outline: none;
}
.form-input-filter:active,
.form-input-filter:focus{
  margin-top: 20px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  padding: 10px;
  border: 2px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: var(--grey);
  color: var(--white) ;
  outline: none;
}
.form-input-filter::placeholder{
  color: var(--white);
}
/* Buttons */
.btn {
  background-color: var(--light-grey);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: var(--grey);
  color: #fff;
}

.btn-link {
  font-size: 16px;
  background-color: transparent;
  color: #333;
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn-clear {
  margin-top: 20px;
  width: 100%;
  font-size: 16px;
  background-color:var(--light-grey);
  color: var(--white);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-clear:hover {
  background-color: var(--light-red);
  color: var(--white);
}

.text-red {
  color: var(--white);
}

/* Items */

.items {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.items li {
  display: flex;
  background-color: var(--green);
  border: 2px solid var(--white);
  color: var(--white);
  justify-content: space-between;
  width: 45%;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px 20px;
  font-weight: 700;
  transition: 0.2s;
}
.items li:hover{
  background-color: var(--alt-green);
  text-transform: uppercase;
  transition: 0.2s;
  cursor: pointer;
}

@media (min-width: 500px) {
  ul.items{
    padding-left: 0 !important;
  }
  .items li {
    min-width: 100% !important;
  }
}
